<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>
  
  <div id="app">

    <div class="container clearfix">

      <div class="left-section">

        <div class="user top-box">
          <div class="user-left">
            <img :src="yourProfile.image" alt="">
            <h4>{{yourProfile.sender}}</h4>
          </div>
          <div class="user-right">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="notification-toogle">
          <div @click="notification.active = !notification.active, notification.off = !notification.off" class="ringtone">
            <i  class="fas" v-bind:class="{'fa-bell': notification.active, 'fa-bell-slash': notification.off}"></i>
          </div>
          <div class="notification-text">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <span><a @click="notification.active = !notification.active, notification.off = !notification.off ">Attiva notifiche desktop</a></span>
          </div>
        </div>

        <div class="search-bar clearfix">
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
          <input class="search-text"
          v-model="searchText"
          type="text"
          placeholder="Cerca o inizia una nuova chat">
        </div>

        <div class="preview-container">
          <div class="chat-preview" 
          v-for="(user, index) in users" 
          :class="{'active': selected === index}" 
          @click="selected = index" 
          v-if='searchText === "" || user.reciver.toUpperCase().includes(searchText.toUpperCase())'>
            <div><img :src="user.profileImage" alt="user.reciver"></div>
            <div>
              <h4>{{user.reciver}}</h4>
              <span>{{user.messages[user.messages.length -1].text.slice(0, 10)}}...</span>
              <span class="message-hour">{{user.messages[user.messages.length -1].date}}</span>
            </div>
          </div>

        </div>
      </div>
      <div class="right-section">

        <div class="reciver top-box">
          <div class="reciver-left">
            <div><img :src="users[selected].profileImage" :alt="users[selected].reciver"></div>
            
            <div class="reciver last-access">
              <h5>{{users[selected].reciver}}</h5>
              <span>ultimo accesso{{users[selected].messages[users[selected].messages.length -1].date}}</span>
            </div>
          </div>
          <div class="reciver-box-right">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="chat clearfix">

          <div v-for="(message) in users[selected].messages" class="chat-row clearfix">
              
            <div class="chat-box" :class="{'sent': message.sent, 'recived': !message.sent}" >
              <p>{{message.text}}</p>
              <span>{{message.date}}</span>
            </div> 
             
          </div>
         </div>

        <div class="write">
          <i class="far fa-smile"></i>
          <input class="write-input"
          type="text" 
          placeholder="Scrivi un messaggio"
          v-model.trim="newText"
          @keyup.enter="newMessageSend">
          <i class="fas fa-microphone"></i>
        </div>

         </div>

      </div>

    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/milestone.js"></script>
</body>
</html>